<table class="table">
    <thead>
        <tr>
            <th><li><a href="#"><i class="fa fa-backward " (click)="backTrack()" aria-hidden="true"></i></a></li></th>
            <th><li><a href="#"><i class="fa fa-random " (click)="random()" aria-hidden="true"></i></a></li></th>
            <th><li><a href="#"><i class="fa fa-play-circle-o " id="playPause()" aria-hidden="true" (click)="playPause()" ></i></a></li></th>
            <th><li><a href="#"><i class="fa fa-forward" (click)="nextTrack()" aria-hidden="true"></i></a></li></th>
        </tr>
    </thead>
    <tbody>
        <input id="slider" (change)="getPlayBackSpeed()" value="50" type="range" min="50" max="100" >
        <tr>
            <td>Now Playing:</td>
            <td>Song</td>
            <td>Artist</td>
        </tr>
    </tbody>
</table>
    